.header {
    height: 70px;
    width: 100%;
    color: white;
    background-color: rgba(67,65,68, .5);
    // box-shadow: 5px 5px 20px rgba(67,65,68, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 5;
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 20px;
}

.navProPic {
    height: 40px;
    border-radius: 20px;
}

.links {
    color: white;
    margin-left: 10px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: flex-end;
}

.links:hover {
    cursor: pointer;
    color: rgb(37,78,111);
}

@media (max-width: 400px) {
    
}