@import "../../parentSCSS/parent";

.header {
    height: 70px;
    width: 100vw;
    color: white;
    background-color: rgba(67,65,68, .85);
    // box-shadow: 5px 5px 20px rgba(67,65,68, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 5;
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 20px;
}

.dropMenu{
    display: none;
}

#dropdown-nav {
    display: none;
}

.dropLinks {
    color: white;
    margin: 10px;
    @include flexCenter(column);
    justify-content: flex-start;
}

.navProPic {
    height: 40px;
    border-radius: 20px;
}

.navProPic:hover {
    transform: scale(1.05);
    transition-duration: .2s;
    
}

.links {
    color: white;
    margin-left: 10px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: flex-end;
}

.links:hover {
    cursor: pointer;
    color: rgb(37,78,111);
}

#bars {
    display: none;
}

#bars:active {
    animation-name: spin;
    animation-duration: 800ms;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(90deg);
    }
}

@media (max-width: 400px) {
    .bigMenu {
        display: none;
    }

    #dropdown-nav {
        // border: 1px solid peru;
        background-color: rgba(67,65,68, .85);
        position: fixed;
        top: 70px;
        right: 0px;
        @include flexCenter(column);
        justify-content: flex-end;
        animation-name: dropping;
        animation-duration: 1100ms;
        overflow: hidden;
        height: 280px;
        width: 150px;
    }

    @keyframes dropping{
        from{
            height: 0px;
        }
        to{
            height: 280px;
        }
    }

    .hamburger {
        display: flex;
        height: 30px;
        width: 30px;
        // border: 1px solid white;
        // background-color: red;
    }

    #bars {
        display: flex;
        height: 30px;
        width: 30px;
        color: white;
    }

}