.header {
  height: 70px;
  width: 100vw;
  color: white;
  background-color: rgba(67, 65, 68, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 5;
}

.logo {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-right: 20px;
}

.dropMenu {
  display: none;
}

#dropdown-nav {
  display: none;
}

.dropLinks {
  color: white;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navProPic {
  height: 40px;
  border-radius: 20px;
}

.navProPic:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.links {
  color: white;
  margin-left: 10px;
}

.links:hover {
  cursor: pointer;
  color: #254e6f;
}

#bars {
  display: none;
}

#bars:active {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media (max-width: 400px) {
  .bigMenu {
    display: none;
  }
  #dropdown-nav {
    background-color: rgba(67, 65, 68, 0.85);
    position: fixed;
    top: 70px;
    right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation-name: dropping;
            animation-name: dropping;
    -webkit-animation-duration: 1100ms;
            animation-duration: 1100ms;
    overflow: hidden;
    height: 280px;
    width: 150px;
  }
  @-webkit-keyframes dropping {
    from {
      height: 0px;
    }
    to {
      height: 280px;
    }
  }
  @keyframes dropping {
    from {
      height: 0px;
    }
    to {
      height: 280px;
    }
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 30px;
  }
  #bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 30px;
    color: white;
  }
}
/*# sourceMappingURL=header.css.map */