.trailCard {
    border: 1px solid rgba(209, 209, 209, .3);
    box-shadow: 5px 5px 20px rgba(196,226,196,.5);
    width: 50vw;
    height: 300px;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    overflow-y: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: -30px;
    color: rgb(209, 209, 209);
}

.eachTrail {
    border: 1px solid rgba(196,226,196,.5);
    box-shadow: 0px 0px 20px rgba(196,226,196,.5);
    margin: 3px;
    height: 140px;
    width: 300px;
    padding-left: 30px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // overflow: auto;
}

@media (max-width: 400px) {
    
    .trailCard {
        width: 90vw;
        box-shadow: 0px 0px 20px rgba(196,226,196,.5);
    }

}