
@import "../../parentSCSS/parent";

.boop{
    // border: solid 5px chartreuse;
    display: flex;
    justify-content: space-evenly;
    // flex-direction: column;
}

.userCard {
    border: solid 2px green;
    // height: 400px;
    // box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 33vw;
    height: 300px;
    @include flexCenter(column);
    justify-content: center;
    color: $pColor;
    // align-items: flex-start;
}

.profilepic {
    // border: solid 3px blue;
    height: 150px;
    // width: 150px;
    border-radius: 75px;
    // margin: 10px;

}

.proCent {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.userInfo {
    // border: solid red 1px;
    margin: 2px;
    display: flex;
}

.inputField {
    display: flex;
}

.input {
    border: 2px solid peru;
    height: 35px;
    width: 150px;
    border-radius: 17.5px;
    margin: 2px;
    font-size: .9em;
    outline-color: rgb(255,235,161);
    outline-width: 10px;
    box-shadow: 0 0 15px rgb(255,235,161);
}

.editPro {
    @include flexCenter(column)
}

.closeEditProBtn {
    @include button()
}

.editProBtn {
    @include button()
}

.input:hover {
    background-color: rgb(199,233,199);
    cursor: pointer;
}

.proButton {
    @include button()
}

@media (max-width: 400px) {

    .boop {
        flex-direction: column;
    }

    .profile {
        height: 350px;
    }

    .profilepic {
        height: 100px;
        border-radius: 100px;
        // margin-left: 100px;
    }

    .userInfo {
        justify-content: center;
        margin: 10px;
    }

    .userCard {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 400px;
        width: 95vw;
        // display: flex;
        // justify-content: center;
    }

    .editPro {
        @include flexCenter(column)
    }
}