
.boop{
    border: solid 5px chartreuse;
}

.userCard {
    // height: 400px;
    // box-sizing: border-box;
    // margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // align-items: flex-start;
    border: solid 3px green;
}

// .cropPic {
//     border: solid 3px brown;
// }

.profilepic {
    border: solid 3px blue;
    height: 200px;
    border-radius: 100px;
    margin: 30px;
}

.userInfo {
    border: solid red 1px;
    margin: 2px;
    display: flex;
}

.input {
    border: solid 2px green;
    background: #eeeeee;
    margin: 2px;

}

@media (max-width: 400px) {
    .profile {
        height: 200px;
    }

    .profilepic {
        height: 100px;
        // width: 100px;
        border-radius: 100px;
        margin-top: 225px;
    }

    .userCard {
        margin-left: -150px;
    }
}