@import "../../parentSCSS/parent";

.selectedTrail {
    // @include flexCenter(column);
    // border: 1px solid rgba(209, 209, 209, .3);
    // box-shadow: -5px 5px 20px rgba(196,226,196,.5);
    @include border;
    width: 40vw;
    height: 370px;
    margin: 10px;
    padding-left: 30px;
    padding-bottom: 5px;
    overflow: auto;
    color: $pColor;
}

.selectedTrailButtons {
    @include button();
    margin: 3px;
}

@media (max-width: 400px) {
    
    .selectedTrail {
        width: 85vw;
        height: 420px;
        // box-shadow: 0px 0px 20px rgba(196,226,196,.5);
    }

}