.profileMap {
    margin-top: 0px;
}

.profileMapForm {
    border: solid 1px;
}

.latlngInput {
    border: solid 1px;
}

@media (max-width: 400px) {
    .profileMap {
        margin-top: 0px;
    }
}