@import "../../parentSCSS/parent";

.profileMap {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    border-top: 8px solid $red;
}

.profileMapForm {
    // border: 2px solid green;
    margin: 15px;
    display: flex;
    justify-content: space-around;
}

.map {
    // border: 2px solid chartreuse;
}

.latlngInput {
    @include input(200px)
}

.latlngInput:hover {
    background-color: rgb(199,233,199);
    cursor: pointer;
}

.addMarkerButton {
    @include button()
}

@media (max-width: 400px) {
    .profileMap {
        // margin-top: 200px;
    }

    .profileMapForm {
        @include flexCenter(column);
    }

    .latlngInput {
        margin: 5px;
    }
}