@import "../../parentSCSS/parent";

.about {
    height: 350px;
    /* width: 100%; */
    background-image: url("https://i.ytimg.com/vi/cQ5Fi29BbTE/maxresdefault.jpg");
    background-position: center center;
    background-size: cover;
    border-bottom: 8px solid $red;
    color: $pColor;
    @include flexCenter(column);
    margin-bottom: 50px;
}

.title {
    margin-top: 360px;
    color: $pColor;
    @include titles;
}

.subTitle {
    margin-top: 0px;
}

.whatsUpWithIt {
    margin: 50px;
    font-family: Georgia;
    font-weight: 500;
}