@import "../../parentSCSS/parent";

.userTrails {
    border: 1px solid red;
    margin: 20px;
    width: 33vw;
    overflow: auto;
    color: $pColor;
    @include flexCenter(column);
    justify-content: center;
}

.eachUserTrail {
    // border: 2px solid $pColor;
    border: 1px solid rgba(209, 209, 209, .3);
    box-shadow: 0px 0px 20px rgba(196,226,196,.5);
    margin: 3px;
    height: 140px;
    width: 300px;
    padding-left: 30px;
    overflow: auto;
}

.userTrailName:hover {
    cursor: pointer;
    color: rgb(37,78,111);
}

.userTrailButton {
    @include button();
}



@media (max-width: 400px) {
    .userTrails {
        width: 95vw;
        margin: 10px;
    }

}
