@import "../../parentSCSS/parent";

.userTrails {
    // border: 2px solid red;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 33vw;
    height: 20vw;
    overflow: auto;
    @include flexCenter(column);
    justify-content: center;
    color: $pColor;
}

.userTrailsHeader {
    @include titles()
}

.eachUserTrail {
    // border: 2px solid $pColor;
    @include border;
    margin: 3px;
    height: 140px;
    width: 300px;
    padding-left: 30px;
    padding-bottom: 5px;
    overflow: auto;
}

.userTrailName:hover {
    cursor: pointer;
    color: rgb(37,78,111);
}

.userTrailButton {
    @include button();
}



@media (max-width: 400px) {
    .userTrails {
        // border: 1px solid yellow;
        width: 95vw;
        height: 50vh;
    }

}
