$pColor: rgb(185,184,189);
$red: rgb(152,68,72);

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
}

//TO USE MIXIN , @include flexCenter();

@mixin button() {
    cursor: pointer;
    padding: 5px 15px;
    color: $pColor;
    background-color: transparent;
    border: 2px solid rgb(152,68,71);
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    &:hover {
        color: rgb(38,78,111);
    }
    &:active {
        transform: scale(.95);
        transition-duration: .1s;
    }
    &:focus {
        background-color: rgba(152,68,71, .5);
    }
}

@mixin titles() {
    text-decoration: underline;
    text-decoration-color: $red;
}

@mixin border() {
    border: 1px solid $red;
}

@mixin input($width) {
        border: 2px solid $red;
        height: 35px;
        width: $width;
        border-radius: 17.5px;
        margin: 10px;
        font-size: .9em;
        &:focus {
            outline: none;
        }
}